pkgbase = r-hyprconfig
	pkgdesc = A modern TUI for visually configuring Hyprland
	pkgver = 1.0.6
	pkgrel = 1
	url = https://github.com/olafkfreund/r-hyprconfig
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = r-hyprconfig-1.0.6.tar.gz::https://github.com/olafkfreund/r-hyprconfig/archive/v1.0.6.tar.gz
	sha256sums = SKIP

pkgname = r-hyprconfig